<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    template="templates/tpl_menu_principal.xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="interno">
        <ui:insert name="menu" /><br />
        <div align="center">

            <h:panelGrid columns="2" cellpadding="3">
            Informe o título de sua transmissão:
            <h:inputText id="tituloBroadcast" value="#{eventoStreamingMB.evento.tituloEvento}"  required="true" requiredMessage="Campo Título é obrigatório"/>
            Informe a descrição de sua transmissão:
            <h:inputText id="descricaoBroadcast" value="#{eventoStreamingMB.evento.descricaoEvento}" required="true" requiredMessage="Campo descrição é obrigatório"/>
            Informe o título do video:
            <h:inputText id="tituloVideo" value="#{eventoStreamingMB.evento.tituloStream}" required="true" requiredMessage="Campo Título é obrigatório"/>
            Informe a descrição do video:
            <h:inputText id="descricaoVideo" value="#{eventoStreamingMB.evento.descricaoStream}" required="true" requiredMessage="Campo descrição é obrigatório"/>
            <p:outputLabel for="dateStart" value="Data de Início:" />
            <p:calendar id="dateStart" value="#{eventoStreamingMB.evento.dataInicio}" required="true" pattern="MM/dd/yyyy HH:mm:ss" mindate="#{eventoStreamingMB.minDate}" maxdate="01/01/2018"/>
            <p:outputLabel for="dateEnd" value="Data de Término" />
            <p:calendar id="dateEnd" value="#{eventoStreamingMB.evento.dataTermino}" required="true" pattern="MM/dd/yyyy HH:mm:ss" mindate ="#{eventoStreamingMB.setMinEndDate(eventoStreamingMB.minDate)}" maxdate="01/01/2018" />
            Usuario:
            <h:selectOneMenu value="#{eventoStreamingMB.evento.idUsuario}" 
                             immediate="true" >  
                <f:converter converterId="UsuarioConverter"/>
                <f:selectItems value="#{usuarioMB.lista()}" var="reg" itemLabel="#{reg.nome}" itemValue="#{reg}"/>  
            </h:selectOneMenu>
            Categorias:
            <h:selectOneMenu value="#{eventoStreamingMB.evento.idCategoria}" 
                             immediate="true" >  
                <f:converter converterId="CategoriaConverter"/>
                <f:selectItems value="#{categoriaMB.lista()}" var="reg" itemLabel="#{reg.nome}" itemValue="#{reg}"/>  
            </h:selectOneMenu>
            </h:panelGrid>
            
            
            <h:commandButton value="Ok" action="#{eventoStreamingMB.salvar()}" class="button round small success"/>
        </div>
    </ui:define>
    
</ui:composition>
