<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    template="templates/tpl_menu_principal.xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html">

    <ui:define name="interno">
        <ui:insert name="menu" /><br />
        <div align="center">
            <h:inputHidden value="#{usuarioMB.usuario.idUsuario}" />
            <h:panelGrid columns="2">
                Nome: <h:inputText id="name" required="true" value="#{usuarioMB.usuario.nome}" requiredMessage="Campo Nome é obrigatório"/>
                Sobrenome: <h:inputText required="true" value="#{usuarioMB.usuario.sobrenome}" requiredMessage="Campo Sobrenome é obrigatório"/>                
                Email: <h:inputText required="true" value="#{usuarioMB.usuario.email}" requiredMessage="Campo Email é obrigatório"/>
                Senha: <h:inputText required="true" value="#{usuarioMB.usuario.senha}" requiredMessage="Campo Senha é obrigatório"/>
            </h:panelGrid> 
            <ul class="button-group radius">
                <li><h:commandButton value="Salvar" action="#{usuarioMB.salvar()}" class="button small"/></li>
                <li><h:commandButton value="Limpar" class="button small" action="#{usuarioMB.limpar()}"/></li>
            </ul>
        </div>
        <script type="text/javascript">
        $(window).ready(function(){
                $('#name').focus();
            });
        </script>
    </ui:define>
    
</ui:composition>
