<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    template="templates/tpl_menu_principal.xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="interno">
        <ui:insert name="menu" /><br />
        <div align="center">
            <h:panelGrid columns="2">
                Título: <h:inputText id="titulo" required="true" requiredMessage="Campo Título é obrigatório"/>
                Data: <h:inputText required="true" requiredMessage="Campo Data é obrigatório"/>
                Hora: <h:inputText required="true" requiredMessage="Campo Hora é obrigatório"/>
                Categoria: <h:selectOneMenu required="Campo Categoria é obrigatório">
                    <f:selectItem itemValue="1" itemLabel="Selecione..." />
                    <f:selectItem itemValue="2" itemLabel="C#" />
                    <f:selectItem itemValue="3" itemLabel="C++" />
                    <f:selectItem itemValue="4" itemLabel="JAVA" />
                    <f:selectItem itemValue="5" itemLabel="JAVA SCRIPT" />
                    <f:selectItem itemValue="6" itemLabel="JAVA WEB" />
                    <f:selectItem itemValue="7" itemLabel="PHP" />
                    <f:selectItem itemValue="8" itemLabel="PYTHON" />
                    <f:selectItem itemValue="9" itemLabel="Outros" />
                    
                </h:selectOneMenu>
                Tipo: <h:selectOneRadio>
                    <f:selectItem itemValue="0" itemLabel="Público" />
                    <f:selectItem itemValue="1" itemLabel="Privado" />
                    
                </h:selectOneRadio>
            </h:panelGrid> 
            <ul class="button-group radius">
                <li><h:commandButton value="Salvar" action="eventos" class="button small" /></li>
                <li><h:commandButton value="Excluir" action="eventos" class="button small"  immediate="true"/></li>
                <li><h:commandButton value="Limpar" class="button small" immediate="true"/></li>
            </ul>
        </div>
        <script type="text/javascript">
        $(window).ready(function(){
                $('#titulo').focus();
            });
        </script>
    </ui:define>
    
</ui:composition>
