<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    template="templates/tpl_principal.xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
    xmlns:pm="http://primefaces.org/mobile"
    xmlns:p="http://primefaces.org/ui">
    
    <ui:define name="interno">
        
        <div class="large-12 columns corpo_single_page">
            
            <div align="center" class="large-12 columns corpo_banner">
                
                <div class="large-5 columns banner_texto">
                    <br/>
                    <h1 align="left">Share Knowledge</h1>
                    <h6 align="left">Compartilhando Conhecimento</h6>
                    <h4 align="left"><h:graphicImage value="/images/banner/icon.png" class="icon"></h:graphicImage>Grupo de Estudos</h4>
                    <h4 align="left"><h:graphicImage value="/images/banner/icon.png" class="icon"></h:graphicImage>Vídeo Aulas</h4>
                    <h4 align="left"><h:graphicImage value="/images/banner/icon.png" class="icon"></h:graphicImage>Reuniões em Tempo Real</h4>
                    <h4 align="left"><h:graphicImage value="/images/banner/icon.png" class="icon"></h:graphicImage>Reforço de Professores</h4>
            
                </div>
                
                <div class="large-7 columns banner_div">
                    <br/>
                    <p:commandLink value="Cadastre-se" action="editarUsuario" class="button round success"/>    
                    
                    <h:graphicImage value="/images/banner/banner01.png" height="600" class="banner_img"></h:graphicImage>
                </div>
            </div>
        </div>
        
        <div class="large-12 columns corpo_single_page">
            
            <div align="center" class="large-12 columns corpo_banner">

                <div align="left" class="large-12 columns">
                    <h2>O que é?</h2>
                </div>
                
                <div class="large-4 columns">
                    <br/>
                    <h:graphicImage value="/images/conferencia.png"></h:graphicImage>
                </div>
                <div class="large-7 columns">
                    <br/>
                <h5 align="left">O aplicativo Share Knowledge tem o objetivo de ser um portal online colaborativo, contendo um repositório de atividades desenvolvidas em um determinado assunto, por meio de grupos de estudo, possibilitando aos integrantes e aos usuários da aplicação o compartilhamento e a troca de experiências, visando à disseminação da informação na área de TI.  Contendo a finalidade de acesso facilitado à informação e ao conhecimento, disseminação da informação e informações compartilhadas, com o reconhecimento via LinkedIn para palestrantes.</h5>
                
                </div>  
            </div>
        </div>
    </ui:define>
    
</ui:composition>

