<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    template="templates/tpl_menu_principal.xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

    <ui:define name="interno">
       <ui:insert name="menu" />
       
       <br />
       <div class="row">
        <div class="large-12 columns">
            <div class="row collapse postfix-radius">
              <div class="small-9 columns">
                  
                  <h:inputText value="#{categoriaMB.pesquisa}" pt:placeholder="faça sua busca..." immediate="false"/>
              </div>
              <div class="small-3 columns">
                  <h:commandButton value="pesquisar" action="#{categoriaMB.pesquisar()}" class="button default postfix"/>
              </div>
            </div>
        </div>
       
        <br />    
       
        <div class="large-12 columns">
       <h:commandButton value="Novo" action="editarCategoria" class="button tiny radius" />
       <h:commandButton value="Limpar" action="#{categoriaMB.limparTudo()}" class="button tiny radius" />
       </div>
       </div>
       <p:dataTable id="dataTable" var="reg"
                    value="#{categoriaMB.lista()}"
                    paginator="true"
                    rows="5"
                    paginatorPosition="top">
           <p:column width="5%">
               <f:facet name="header">
                   <h:outputText value="Cod"/>
               </f:facet>
               <center>
               <h:outputText value="#{reg.idCategoria}"/>
               </center>
           </p:column>
           <p:column>
               <f:facet name="header">
                   <h:outputText value="Nome"/>
               </f:facet>
               <h:outputText value="#{reg.nome}"/>
           </p:column>
           <p:column>
               <f:facet name="header">
                   <h:outputText value="Tag"/>
               </f:facet>
               <h:outputText value="#{reg.tag}"/>
           </p:column>
           <p:column width="18%">
               <f:facet name="header">  
                   <h:outputText value="Ação" />  
               </f:facet>  
               <center>
                    <p:commandButton style="margin-top: 8%" value="Editar" ajax="false" actionListener="#{categoriaMB.editar(reg)}" action="editarCategoria" />
                    <p:commandButton style="margin-top: 8%" value="Excluir" ajax="false" actionListener="#{categoriaMB.excluir(reg)}"/>
               </center>
           </p:column>
       </p:dataTable>       
              
    </ui:define>
    
</ui:composition>