<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
    template="templates/tpl_menu_principal.xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html">

    <ui:define name="interno">
       <ui:insert name="menu" />
       
       <br />
       
       <div class="large-8 columns">
           <h:graphicImage value="/images/stream.gif"></h:graphicImage>
       </div>
       <div class="small-4 columns">
       <h:panelGrid columns="1" class="chat">
           
       </h:panelGrid>
       
            <h:inputText id="chat" class="chat_campo" pt:placeholder="Digite sua Pergunta aqui..."></h:inputText>
       </div>
       
       <h1>Aprendendo Java</h1>
       
       <br></br>
        
    </ui:define>
    
</ui:composition>